{% extends "base.html.twig" %}
{% block title 'Agence Auto ' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1> Agence Auto </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, dui eu ornare tempor,
                nulla purus volutpat est, sed lobortis orci diam at lacus. Curabitur sollicitudin ante quis lorem mollis
                tristique at at purus.
            </p>
        </div>
    </div>
    <div class="container">
        <h2>les dernières offres</h2>
        <div class="row flex">
            {% for offer in offers %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('offer_show',{id: offer.id ,slug: offer.slug}) }}">{{ offer.title }}</a>
                            </h5>
                            <p class="card-text">
                                {{ offer.city }} ({{ offer.postalCode }})
                            </p>
                            <div class="text-primary"
                                 style="font-weight: bold; font-size: 2rem;">{{ offer.formattedPrice }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}